/*####################  HEADER  ########################*/

.header-width-container,
.header-dashboard {
    width: 90%;
}


#header-general > li {
    border-top: 0px solid white;
}

#header-general > li > a.no-hand {
    border-top: 0px solid black;
    border-left: 3px solid #7abbdc; 
}

#header-general > .visited-border {
    border-top: 0px solid #7abbdc; 
}

.page-indicator {
    font-size: 1.2em;
}

.prof-page-indicator {
    font-size: 1.2em;
}
/*--------------------  MENU  --------------------*/

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    }

    .menu-toggle {
        display: inline-block;
        padding: .75em 15px;
        line-height: 1em;
        font-size: 1em;
        color: #fff;
    }

    .menu-toggle:hover,
    .menu-toggle:focus {
        color: #fff;
    }

    .main-menu {
        position: absolute;
        left: -200px;
        top: 0;
        height: 100%;
        overflow-x: visible;
        transition: left 0.3s ease,
            box-shadow 0.3s ease;
        z-index: 999;
    }

    .main-menu ul {
        list-style: none;
        margin: 0;
        padding: 2.5em 0 0;
        -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
        -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
        box-shadow: -8px 0 8px rgba(0,0,0,.5);
        min-height: 100%;
        width: 200px;
        background: #1a1a1a;
    }

    .main-menu a {
        display: block;
        padding: .75em 15px;
        line-height: 1em;
        font-size: 1em;
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #383838;
    }

    .main-menu li:first-child a {
        border-top: 1px solid #383838;
    }

    .main-menu a:hover,
    .main-menu a:focus {
        background: #333;
        text-decoration: underline;
    }

    .main-menu .menu-close {
        position: absolute;
        right: 0;
        top: 0;
    }

    .main-menu:target,
    .main-menu[aria-expanded="true"] {
        left: 0;
        outline: none;
        -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
        -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
        box-shadow: 3px 0 12px rgba(0,0,0,.25);
    }

    .main-menu:target .menu-close,
    .main-menu[aria-expanded="true"] .menu-close {
        z-index: 1001;
    }

    .main-menu:target ul,
    .main-menu[aria-expanded="true"] ul {
        position: relative;
        z-index: 1000;
    }

    .main-menu:target + .backdrop,
    .main-menu[aria-expanded="true"] + .backdrop {
        position: absolute;
        display: block;  
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 998;
        background: #000;
        background: rgba(0,0,0,.85);
        cursor: default;
    }

    @supports (position: fixed) {
        
        .main-menu,
        .main-menu:target + .backdrop,
        .main-menu[aria-expanded="true"] + .backdrop {
        position: fixed;
      }
        
    }

    .bars-color {
        color: #fff;
        margin-left: 20px;
    }
    
    #header-signin > li {
        border: none;
    }

    #header-signin > .visited-border {
        border-top: none;
        border-left: 3px solid #7abbdc;
    }

#small-user-photo {
    visibility: hidden;
}

/*####################  GENERAL MAIN CONTENT  ########################*/
.main-content-container {
    width: 50%;
}

/*####################  STUDENT DASHBOARD  ########################*/

.cover-photo-container {
    height: 150px;
    width: 100%;
    position: absolute;
}

.dashboard-width-container {
    width: 75%;  
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#user-photo {
    position: relative;
    top: 60px;
    left: 0;
    margin: 0 auto;
    border: 4px solid silver;
    border-radius: 500px;
    z-index: 4;
}

#dashboard-user-info {
    background-color: #eaeaea;
    width: 100%;
    position: relative;
    left: 0;
    top: -232px;
    margin: 0 auto 0 auto;
    z-index: 2;
    border-radius: 15px;
}

#dashboard-name-surname {
    display: block;
    width: inherit;
    text-align: center;
}

#dashboard-user-info > ul {
    position: relative;
    top: 6px;
    width: 70%;
}

#dashboard-user-info > ul > li{
    list-style: none;
    margin: 0 0 30px 0;
    font-weight: 700;
}

.user-info-list {
    font-weight: 400;
    margin-right: 2%;
}

.right-space {
    margin-right: 10px;
    width: 15px;
}

#dashboard-name-surname {
    font-size: 1.7em;
}

#chart {
    visibility: hidden;
}

#description {
    width: 100%;
    top: -190px;
    left: 0;
    background-color: #eaeaea;
    border-radius: 10px;
}

#description > p {
    padding: 10px;
    position: relative;
    top: 0;
    left: 0;
}

#description > h3 {
    padding: 10px;
    position: relative;
    top: 0;
    left: 0px;
}

#dashboard-calendar-description {
    position: absolute;
    visibility: hidden;
}

#dashboard-lessons-list {
    position: relative;
    left: 0;
    top: -200px;
    width: 100%;
}

#dashboard-calendar {
    width: 95%;
    position: relative;
    left: 0;
    top: -180px;
    padding-top: 43px; 
    border-top: 1px solid silver;
    margin: 0 auto 0 auto;
}

/*###################### FORM SEARCH  ##################*/

.form-search .search-form-fieltset {
    width: 44%;
}

.form-search .search-form-fieltset {
    padding-left: 2%;
    width: 46%;
}

.form-search #search-form-fieldset-search {
    float: none;
    width: 93%;
    padding: 0px;
    text-align: center;
}

.form-search button[type="submit"] {
    width: 69%;
    margin: 0px;
    margin-top: 25px;
    height: 35px;
    font-size: 1.1em;
    padding: 0px;
    
    border-radius: 10px;
}

/*####################  CALENDAR  ########################*/

#editable-calendar {
    width: 95%;
    position: relative;
    padding-top: 43px; 
    border-top: 1px solid silver;
    margin: 0 auto 20px auto;
}


/*####################  FOOTER  ########################*/
.footer-container {
    width: 90%;
}
